// @for
// @for는 스타일을 반복적으로 출력

// @for는 through를 사용하는 형식과 to를 사용하는 형시그오 나뉨 
// 두형식은 종료 조건이 해석되는 방식이 다르다 

// through
// 종료 만큼 반복
@for $변수 from 시작 through 종료 {
    // 반복 내용
  }
  
  // to
  // 종료 직전까지 반복
  @for $변수 from 시작 to 종료 {
    // 반복 내용
  }

  @for $index from 1 through 3{
      .through:nth-child(#{index}){
          width: 20px * $index;
      }
  }

  // 1부터 3번 반복
@for $i from 1 through 3 {
    .through:nth-child(#{$i}) {
      width : 20px * $i
    }
  }
  
  // 1부터 3 직전까지만 반복(2번 반복)
  @for $i from 1 to 3 {
    .to:nth-child(#{$i}) {
      width : 20px * $i
    }
  }