/* div {
    font-size: 20px;
    color: red;
  }
  
  /* 다음과 같이 이해할 수 있습니다. */
 /*
  선택자 {
    속성: 값;
    속성: 값;
  } 
*/
  /* 선택자 */
  /* 선택자는 HTML에 스타일(CSS)을 적용하기 위해 HTML의 특정한 요소를 선택하는 사인(sign)입니다.
“빨강 글자색(CSS, color: red;)을 저기 제목(HTML, <h1></h1>)에 적용하겠어!”, 
“파랑 글자색(CSS, color: blue;)은 여기 본문(HTML, <p></p>)에 적용하겠어!”와 같이 적용할 스타일을 속성(color)과 값(red, blue)으로 나타내고 적용할 대상(H1, P)을 선택자로 나타냅니다. */
/*
<div>
  <h1>제목..</h1>
  <p>본문..</p>
</div>

h1 {
    color: red;
  }
  p {
    color: blue;
  } */