.box{
    background-image: url("https://heropy.blog/css/images/vendor_icons/css3.png");
    /* url("https://heropy.blog/css/images/vendor_icons/html5.png"),
    url("https://heropy.blog/css/images/vendor_icons/javascript.png") */
    background-size: 100px;
    background-repeat: repeat-x ;
    width: 750px;
    height: 500px;
    border: 2px dashed lightgray;
}